# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv

# Sphinx build
docs/build/
docs/source/_static/
docs/source/_templates/
docs/source/_modules/

# Virtual environments
venv/
.env/

# OS
Thumbs.db
.DS_Store

# Pytest cache
tests/__pycache__/
tests/.pytest_cache/
